@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #070243;
  color: #ffffff; /* Set the text color to white */
}

.container {
  color: #ffffff; /* Set the text color to white */
}
